html {
  height: 100%;
}
body {
  margin: auto;
  width: 90%; 
  min-height: 100%;
  font-size: 20px;
  font-family: 'cursive'; 
  box-shadow: 0 0 10px 0 #999999 inset;
}
.container-fluid .tab-content {
	background-color: #C8E5FF12;
}
h1 {
	font-size: 40px;
	font-family: fantasy;
}
h3 {
	font-size: 30px;
	font-family: fantasy;
}
h5 {
	font-size: 20px;
}

.navbar {
	background-image: url("cells.png");
}

.navbar .navbar-collapse {
  display: flex !important;
  justify-content: center !important;
  text-align: center;
  width: 80%;
}
.navbar .navbar-collapse ul {
  width: 100%;
}

.navbar-default .navbar-nav li > a{
	color: white;
}

.navbar .navbar-collapse li {
  width: 14%;
  height: 100%;
  font-size: 20px;
  font-family: fantasy;
  background-color: transparent;
  color: white;
  border: double;
  border-color: black;
}

.navbar .navbar-collapse a {
  height: 100%;
  background-color: #3C8DBCC4;
  color: white;
}

.navbar .navbar-collapse .active a {
  background-color: #3BAAE6;
  color: white;
  border: 1rem solid;
  border-color: white;
}

.dropdown-menu li {
	width: 100% !important;
}


.navbar .navbar-collapse .icon1 {
  position: absolute;
  right: 0px;
  width: 50px;
  border: none;
  font-size: 30px;
  background-color: transparent;
}
.navbar .navbar-collapse .icon1 a {
	background-color: transparent;
}
.navbar .navbar-collapse .icon2 {
  position: absolute;
  right: 50px;
  width: 50px;
  border: none;
  font-size: 30px;
  background-color: transparent;
}
.navbar .navbar-collapse .icon2 a {
	background-color: transparent;
}
.navbar .navbar-collapse .icon3 {
  position: absolute;
  right: 100px;
  width: 50px;
  border: none;
  font-size: 30px;
  background-color: transparent;
}
.navbar .navbar-collapse .icon3 a {
	background-color: transparent;
}

.tab-content {
	background: white;
}

.footer-basic-centered {
	color: black;
	background-color: #999999;
	border-top: solid 1px;
	width: 100%;
	height: 100%;
}